<%-include('../cabecalho.ejs')%>
    <h1>Editar Picole</h1>
    <div style="margin-bottom: 24px;">
        <a href="/picole/lst" class="btn"><i class="fas fa-arrow-left"></i> Voltar para lista de picolés</a>
    </div>
    <form method="post">
        <label>ID:</label>
        <input type="text" name="id" value="<%= Picole.id %>" disabled><br>
        <label>Nome do picolé</label>
        <input type="text" name="nomePicole" value="<%= Picole.nomePicole %>"><br>
        <label>Preço (R$)</label>
        <input type="number" name="precoPicole" value="<%= Picole.precoPicole %>"><br>
        <label>Sabor</label>
        <input type="text" name="saborPicole" value="<%= Picole.saborPicole %>"><br>
        <label>Calorias</label>
        <input type="number" name="caloriasPicole" value="<%= Picole.caloriasPicole %>"><br>
        <label>Ingredientes</label>
        <input type="text" name="ingredientesPicole" value="<%= Picole.ingredientesPicole %>"><br>

        <button type="submit" class="btn submit">Atualizar</button>
    </form>

    <%-include('../rodape.ejs')%>