<%-include('../cabecalho.ejs')%>
    <h1>Editar Sabor</h1>
    <div style="margin-bottom: 24px;">
        <a href="/sabores/lst" class="btn"><i class="fas fa-arrow-left"></i> Voltar para lista de sabores</a>
    </div>
    <div>
        <form method="post">

            <label>ID:</label>
            <input type="text" name="id" value="<%= Sabores.id %>" disabled><br>
            <label>Nome do Sabor:</label>
            <input type="text" name="nomeSabor" value="<%= Sabores.nomeSabor %>"><br>
            <label>Descrição do Sabor:</label>
            <input type="text" name="descricaoSabor" value="<%= Sabores.descricaoSabor %>"><br>

            <button type="submit" class="btn submit">Atualizar</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>